/* Toda modificación de estilos y/o  estilos nuevos deben ser agregados aquí */
@import '../node_modules/spinkit/scss/spinkit';
@import './assets/theme/theme-colors';

.loading-ui {
    display: flex;
    position: fixed;
    justify-content: center;
    z-index: 999;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: #58575c;
    opacity: .8;

    .ui-growl .ui-growl-item-container {
        border-radius: 3px;
        box-shadow:0 0 7px rgba(0,0,0,.25);
        background-color: #323232;
    }
}
.sk-cube-grid {
    align-self: center;
}
.sk-cube {
    background-color: white !important;
}

.loading-ui {
    background: none !important;
}
.loading-ui .ui-growl-item .sk-cube-grid {            
    margin: 0;
    display: inline-block;
}

.back-to-top {
    position: fixed !important;
    right: 5px;
    bottom: 5px;
    z-index: 9999;
    height: 40px !important;
    width: 40px !important;
}

.footer {
    background-color: $primaryColor;
}