<h1> Gestionar Usuarios</h1>
<p-dataTable [value]="usuarios"  rows="15" [paginator]="true" emptyMessage="No se encontraron usuarios">
    <header>Usuarios</header>
    <p-column header="RUN" [style]="{'width':'120px'}">
		<ng-template let-col let-user="rowData" pTemplate type="body">
            <span>{{user['rut']}}</span>
		</ng-template>
	</p-column>
    <p-column field="nombres" header="Nombres"></p-column>
    <p-column field="apellidos" header="Apellidos"></p-column>
    <p-column field="perfil" header="Perfil">
        <ng-template let-col let-user="rowData" pTemplate type="body">
            <span>{{user[col.field].nombre}}</span>
		</ng-template>
    </p-column>
    <p-column  [style]="{'width':'116px'}">
        <ng-template let-user="rowData" pTemplate type="body">
            <button type="button" pButton (click)="irEditar(user)" icon="fa-edit"></button>
            <button type="button" pButton (click)="eliminarUsuario(user)" icon="fa-remove"></button>
        </ng-template>
    </p-column>

</p-dataTable>